.image-upload-button{
    color: black;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 3px solid #eee;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size:50px;
    font-family: "Book Antiqua";
    height: 130px;
    width: 130px;
}
.form-controll{
    margin-bottom: 0;
    padding-bottom: 0;
}

.image-upload__preview{
    width:14rem;
    height:14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
    clip-path: circle(50% at 50% 50%);
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.image-upload__preview img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.image-edit-button{
    color: black;
    border-radius: 20px;
    border: 1px solid #eee;
    position: absolute;
    box-shadow: 2px 2px 15px black;
    font-size:30px;
    height: 70px;
    width: 150px;
    top: 62%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.image-upload-button:hover{
    background-color: transparent;
    color: #eee;
    background-color: black;
}

.image-edit-button:hover{
    background-color: transparent;
    color: #eee;
    background-color: black;
}

@media (max-height: 670px) {
    .image-upload__preview
    {
        clip-path: circle(35% at 50% 50%);
    }
}
@media (max-height: 820px) and (min-height: 670px) {
    .image-upload__preview
    {
        clip-path: circle(45% at 50% 50%);
    }
}
